.background{
    background-color:var(--color-primary);
}
.header__socialss {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    .header__socialss a{
        font-size: 23px;
        padding:4px;
        margin: 0.4rem;
        aspect-ratio:1/1;
        color:var(--color-light);
        display: flex;
        place-items:center;
        
    }
    .header__socialss a:hover {
        color:var(--color-light);
        transform: rotateX(-0.5rem);
    }
   .contact__dor{
    flex-direction: row;
    justify-content: center;
    display: flex;
    place-items: center;
   }
   .contact__dor p{
    margin: 0;
    font-size: 18px;
    font-weight:400;
    font-style: italic;
    color: var(--color-dark);
    font-weight:bold;

}

.contact__dor:hover p {
    border-bottom: 1px solid var(--color-dark);
    transition: 0.6s;
    cursor: pointer;

}

  