.myportfolio{
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
}
.myform{
    display: flex;
    justify-content: center;
}
.myform a{
    font-size: 3rem;
    padding: 2rem;
    border:1px solid var(--color-light);
    border-radius: 50%;
    background-color: var(--color-primary);
   
}
.myform a .myicon{
    color: var(--color-light);
    

}
.myportfolio .capsion{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.myportfolio .capsion h2{
    color: var(--color-primary);
    padding: 2px;
}
.capsion p{
    font-size: 18px;
    color: var(--color-light);
}
.myform a:hover{
    background-color: var(--color-light);
    transition: 0.7s;

   
}
.myform a:hover .myicon{
    color: var(--color-primary);
    transition: 0.8s;
   
}
.myparent{
    background-color:black;
    border: 2px solid var(--color-primary);
    padding: 50px;
    margin: 10px;
    border-radius: 15px;
}

