.myportfolio{
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
}
.myform{
    display: flex;
    justify-content: center;
}
.myform a{
    font-size: 3rem;
    padding: 2rem;
    border:4px inset var(--color-light);
    border-radius: 50%;
    background-color: var(--color-primary);
    box-shadow: 0 0 18px var(--color-light);

   
}
.myform a .myicon{
    color: var(--color-light);
    

}
.myportfolio .capsion{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.myportfolio .capsion h2{
    color: var(--color-primary);
    padding: 15px;
    font-weight: 900;
}
.capsion p{
    font-size: 18px;
    color: var(--color-light);
}
.myform a:hover{
    background-color: var(--color-light);
    transition: 0.7s;

   
}
.myform a:hover .myicon{
    color: var(--color-primary);
    transition: 0.8s;
   
}
.myparent{
    background-color:black;
    box-shadow: 0 0 15px var(--color-primary);
    padding: 45px;
    margin: 20px;
    border-radius: var( --border-radius-1);
}
.mytitle{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 10px;
    
}
.mytitle h1{
color: var(--color-primary);
font-weight: bold;
text-shadow: 0 0 1px var(--color-primary);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.capsion p{
    font-family: Tahoma, sans-serif;
}
