.header{
    height:fit-content;
    display: grid;
    place-items: center;
    background: var(--color-black);
    transition: var(--transition);
}
.myptag{
    color: var(--color-white);
    
        display: inline-block;
        margin: 0 0.5rem;
      
  
   
}

.header__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}
.header__profile{
    width: 24rem;
    height: 22rem;
    border-radius:20px 20px;
    overflow: hidden;
    margin-bottom: 1rem;
    box-shadow: 0 0 30px var(--color-primary);
    
}
.header__container p {
width: 40rem;
text-align: center;
margin: 0.6rem 0 2rem;
font-size: 1.1rem;
}
.header__cta{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.header__socials {
position: absolute;
right: 0;
bottom: 0;
display: flex;
flex-direction: column;
gap: 1rem;
}
.header__socials a{
    font-size: 20px;
    aspect-ratio:1/1;
    padding: 10px;
    background: var(--color-light);
    color: var(--color-black);
    border: 2px solid var(--color-primary);
    display: grid;
    place-items: center;
    border-radius: var(--border-radius-1);
    opacity: 0.8;
    box-shadow: 0 0 7px var(--color-primary);

}
.header__socials a:hover {
    background: var(--color-dark);
    color: var(--color-primary);
    transform: rotateX(-0.5rem);
}
/*media queries (tablets)*/
@media screen and (max-width: 1024px) {
    header{
        height: 100vh;
    }

}
/*media queries (tablets) */
@media screen and (max-width:600px){
    .header__profile {
        width: 14rem;
        height: 17rem;
        max-width:max-content;
        max-height:max-content;
        border:0;
        
    }
    .header__container p {
        width: 100%;
    }
    .header__cta {
        gap: 1rem;
    }
    .header__socials {
        position: absolute;
        top: 25;
        right:225;
    }
}
.myanim{
    width: 7px;
    height: 85px;
    border-radius: 20%;
    border: 0.5px inset var(--color-primary);
    background-color: var(--color-primary);
    box-shadow: 0 0 25px var(--color-primary);
    margin: 10px;
}
.myanim2{
    width: 10px;
    height: 10px;
    border-radius: 30%;
    border: 0.5px inset var(--color-primary);
    background-color: var(--color-primary);
    box-shadow: 0 0 55px var(--color-primary);
    margin: 10px;
    margin-bottom: 15px;
}