*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    /* 1  16 700 560 935 40 153*/
    --light: #f6f6f9;
    --primary: #4E4FEB;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #222831;
    --dark: #303841;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #068FFF;
    --light-success: #BBF7D0;
    --primary-hue:1;
    --black-lightness:15%;
    --dark-lightness:44%;
    --light-lightness:85%;
    --white-lightness:100%;
    --color-primary:hsl(var(--primary-hue), 80%, 22%);
    --color-white: hsl(0,5%, var(--white-lightness));
    --color-light:hsl(var(--primary-hue),10%, var(--light-lightness));
    --color-black:hsl(var(--primary-hue)5%,var(--black-lightness));
    --color-dark:hsl(var(--primary-hue,5%, var(--dark-lightness)));
    /*general container variavles*/
    --container-width-lg:76%;
    --container-width-md:90%;
    /*border radius variables*/
    --border-radius-1:1.2rem;
    --border-radius-2:0.4rem;
    --border-radius-3:0.5rem;
    /*general transition variable*/
    --transition:all 500ms ease;
}
html{
    scroll-behavior: smooth;

}
body{
     line-height: 1.6;
     font-size: 0.9rem;
      font-family: 'BYekan';
}
@font-face {
    font-family: 'BYekan';
    src: url('./font/static/BYekan.ttf'); /* IE9 Compat Modes */
     
  }
/*general container class*/
.container{
    width: var(--container-width-lg);
    margin-inline: auto;
    max-width: 1920px;
}
/*general section style*/
section{
    padding:5rem 0;
background-color:#000000;    
transition: var(--transition);
border-bottom: 5px inset var(--color-primary);
box-shadow: 0 0 26px var(--color-primary);
}
section:nth-child(even){
    background:var(--color-light);
}
section > h2{
    text-align: center;
}
section > p{
    text-align: center;
    margin: 0.5rem auto 4rem;
    width:40%;
}
/*general section style*/
a{
    color: var(--light);
    transition: var(--transition);
    text-decoration: none;
}
/*general heading style*/
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    color: var(--color-white);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.1rem;
}
h5{
    font: size 0.95rem;
}
h6{
    font-size: 0.8rem;
}
/*GENERAL IMAGE STYLE*/
img{
    display: block;
    width:100%;
    object-fit: cover;
}
/*GENERALL BITON STYLE*/
.bttn{
    display:  inline-block;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--color-light);
    color: var(--color-black);
    padding: 0.6rem 2.5rem;
    border: 2px solid transparent;
    border-radius: var(--border-radius-2);
    box-shadow: 0 0 12px var(--color-primary);

    cursor: pointer;
}
.bttn:hover{
    background-color: transparent;
    box-shadow: 0 0 12px var(--color-primary);

    border-color:  var(--color-light);
    transform: translateY(-0.5rem);
    color: var(--color-light);
}
.bttn.white{
    background: var(--color-white);
}
.bttn.white:hover{
    background: transparent;
    border-color: var(--color-white);
}
.bttn.primary{
    background: var(--color-primary);
    color:white;
}
.bttn.primary:hover{
    background: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary);
}
.bttn.sm{
    padding: 0.5rem 1.2rem;
}
